
.user-pad {
    padding-top: 2em;
    
    .buttonsRow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        a {
            margin-top: 2em;
        }
    }
}

.userInfoTable {
    margin-top: 1em;
    border-radius: 1em;
    background-color: var(--background-color);
    color: var(--text-color);

    table {
        background-color: var(--background-color);
        color: var(--text-color);
    }
    

    &hover {
        background-color: var(--text-color);
        color: var(--background-color);
    }

}
