  <div class="row" *ngIf="userInfo">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2">
          <div class="user-image">
            <img src="{{avatar_Url}}">
          </div>
        </div>
        <div class="col-md-10">
          <div class="user-pad">
            <h3>Welcome back, {{userInfo.first_Name}}</h3>
            <button class="btn btn-labeled btn-info" (click)="openModal(template)">
              <span class="btn-label"><i class="fa fa-key"></i></span>Change Password
            </button>
          </div>
        </div>
      </div>
      <div class="row userInfoTable">
        <table class="table">
          <tbody>
            <tr *ngFor="let key of userKeys; let i = index">
              <th scope="row">{{key|beautifyKeyString}}</th>
              <td >{{userValues[i]}}</td>
              <td>
                <button class="btn btn-labeled btn-info">
                  <span class="btn-label"><i class="fa fa-pencil"></i></span>Edit
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<!-- Modal for reset password -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
        <form #myform="ngForm" (ngSubmit)="resetPassword(myform); modalRef.hide()" class="form form-login">
            <div class="input-group">
                <input name="oldPassword" id="oldPassword" type="email" class="form-control" placeholder="Old Password" required ngModel>
            </div>
        
            <div class="input-group">
                <input name="plainNewPassword" id="plainNewPassword" type="password" class="form-control" placeholder="New Password" required ngModel>
            </div>
        
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </div>
        </form>
  </div>
</ng-template>