<div class="container">
  <div class="row user-menu-container square">
      <div class="col-md-12 user-details">
          <div class="row spacebluebg white">
              <div class="col-md-2 no-pad">
                  <div class="user-image">
                      <img src="#" class="img-responsive thumbnail">
                  </div>
              </div>
              <div class="col-md-10 no-pad">
                  <div class="user-pad">
                      <h3>Welcome back, _NAME</h3>
                      <a class="btn btn-labeled btn-info" href="#">
                          <span class="btn-label"><i class="fas fa-key"></i></span>Change Password
                      </a>
                  </div>
              </div>
          </div>
          <div class="row overview">
              <div class="col-md-12 user-pad text-center">
                  <h3>CALL LOGS</h3>
                  <h4>#</h4>
                  <div class="row">
                      <div style="margin-bottom: .4em;" class="col-md-12">
                          <a class="btn btn-labeled btn-warning" href="#">
                              <span class="btn-label"><i class="fas fa-list"></i></span>My call logs
                          </a>
                      </div>
                      <div class="col-md-12">
                          <a class="btn btn-labeled btn-success" href="#">
                              <span class="btn-label"><i class="fas fa-plus-circle"></i></span>Create a call log
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>