  <div class="footer">
  <div class="foot">
    <div class="row">
      <div class="foot-widget-left col-sm-12 col-lg-6 col-md-6 col-xl-4 col-12">
        <div class="foot-logo"><a href="#" title="">TNS | The News Spot</a></div>
        <div class="foot-info">
          <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem?</p>
          <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem?</p>
        </div>
        <div class="foot-social">
          <ul class="foot-social-list unlist social links-style">
            <li><a href="#" title=""><span class="fa fa-facebook"></span></a></li>
            <li><a href="#" title=""><span class="fa fa-twitter"></span></a></li>
            <li><a href="#" title=""><span class="fa fa-google-plus"></span></a></li>
            <li><a href="#" title=""><span class="fa fa-instagram"></span></a></li>
            <li><a href="#" title=""><span class="fa fa-linkedin"></span></a></li>
            <li><a href="#" title=""><span class="fa fa-youtube"></span></a></li>
            <li><a href="#" title=""><span class="fa fa-pinterest"></span></a></li>
            <li></li>
          </ul>
        </div>
      </div>
      <div class="foot-info">
        <p><a>Contact us</a></p>
        <p><a>Adverts</a></p>
        <p><a>Privacy Statement</a></p>
        <p><a>Terms of use</a></p>
      </div>

    <div class="foot-widget-right col-sm-12 col-lg-6 col-md-6 col-xl-4 col-12">
      <h3>Popular Tags</h3>
      <div>
        <p>links.....</p>
      </div>
    </div>


    <div class="foot-bottom">
      <div class="foot-bottom-text">
        <p>Copyright © 2019    TNS | The News Spot.</p>
      </div>
    </div>

  </div>

      <div class="foot-bottom row">
          <div class="foot-bottom-text col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <p id="Copy">Copyright © 2019 Onze project.</p>
          </div>
          <div class="foot-bottom-menu col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <ul class="foot-bottom-menu-list unlist links-style">
              <li><a href="#" title="">HOME</a></li>
              <li><a href="#" title="">FEATURES</a></li>
              <li><a href="#" title="">BUY</a></li>
              <li><a href="#" title="">SHOP</a></li>
            </ul>
          </div>
        </div>

  

    
  </div>
</div>

