  <div class="footer">
  <div class="foot">
    <div class="row">
    <div class="foot-1 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div>
        <h3>General</h3>
      </div>
      <div class="foot-info">
        <p><a>Contact us</a></p>
        <p><a>Adverts</a></p>
        <p><a>Privacy Statement</a></p>
        <p><a>Terms of use</a></p>
      </div>

    <div class="foot-2 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <h3>Service</h3>
      <div>
        <p><a>Reader Service</a></p>
        <p><a>My Profile</a></p>
        <p><a>Subscripe</a></p>
        <p><a>Subscription adventages</a></p>
        <p id="tip"><a>tip our partner journalists</a></p>
      </div>
    </div>


    <div class="foot-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <h3>Navigate</h3>
      <div>
        <p><a>Search</a></p>
        <p><a>Archive</a></p>
      </div>
    </div>

  </div>

      <div class="foot-bottom row">
          <div class="foot-bottom-text col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <p id="Copy">Copyright © 2019 Onze project.</p>
          </div>
          <div class="foot-bottom-menu col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <ul class="foot-bottom-menu-list unlist links-style">
              <li><a href="#" title="">HOME</a></li>
              <li><a href="#" title="">FEATURES</a></li>
              <li><a href="#" title="">BUY</a></li>
              <li><a href="#" title="">SHOP</a></li>
            </ul>
          </div>
        </div>

  

    
  </div>
</div>

