@import "../../variables.scss";

:host {
    clear: both;
}
.unlist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer {
    background-color: $DarkGrey;
    border-top: 2px solid $Black;
    .foot {
        padding: 2em 4em;
    }
}

.foot-1,
.foot-2 {
    border-left: 1px solid $Red;
}

.foot-1,
.foot-2,
.foot-3,
#Copy {
    @media screen and (max-width: 750px) {
        text-align: center;
    }
}

.foot-bottom {
    margin-top: 3em;
    background-color: $BGrey;
    padding: 1em;
}

.foot-bottom-menu-list {
    display: flex;
    padding: 8px 0;
    
    
    li {
        width: 100px;
        text-align: center;
        font-size: .8em;
        a {
            color: $Red;
            font-weight: bold;
        }
    }
}

h3 {
    color: $LightGrey;
    margin-bottom: 1em;
    border-bottom: 0.5px solid $BGrey;
    text-transform: uppercase;
}

p {
    color: $LightGrey;
    text-transform: capitalize;
}

#Copy {
    text-transform: lowercase !important;
}

#tip {
    color: $Red;
}

