// CSS footer

@import "../../variables.scss";

:host {
    clear: both;
}
.unlist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.foot {
    width: 100%;
    background: var(--footer-main);
    min-height: 100px;
    color: $LightGrey;
    padding: 1em 1.5em;
    display: flex;
    position: relative;
    left: 0;
    transition: .5s ease-in-out;
    border-top: 1px solid $DarkGrey;
}

.foot-logo {
    font-family: 'Almendra SC', serif;
    color: $White;
    font-size: 1.6em;

    a { 
        color: $Yellow; 
        text-decoration: none;
    }
}

.foot-widget-left,
.foot-widget-midden,
.foot-widget-right {
    padding: 20px;

    h3 { color: $White; }
}

.foot-widget-right { margin-bottom: 20px; }

.social {
    display: flex;
    top: 0;
    
    li { padding: 10px 10px 10px 0; }
}

.links-style a {
    text-decoration: none;
    color: $LightGrey;
}

.links-style-news { border-bottom: 1px solid $DarkGrey; }

.links-style a:hover { color: $White; }

.blog-list {
    li {
        width: 100%;
        border-bottom: 1px solid $DimGrey;
        padding: 1em 0;
        font-size: .8em;
    }

    li:last-child {
        border: none;
        margin-bottom: 30px;
    }
}

.w-countries {
    display: flex;
    
    li {
        a {
            text-decoration: none;
            color: $LightGrey;
            &:hover {
                color: $White;
            }
        }
    }
}
.first { margin-right: 20px; }
.second { margin: 0 20px; }
.third { margin-left: 20px; }

.foot-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--footer-bottom);
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $BGrey;
    transition: .5s all ease-in-out;
}

.foot-bottom-text {
    padding-left: 20px;
    font-size: .8em;

    p { margin: 8px 0; }
}

.foot-bottom-menu { margin-right: 80px; }

.foot-bottom-menu-list {
    display: none;
    margin: 8px 0;
    cursor: pointer;
    
    li {
        width: 100px;
        text-align: center;
        font-size: .8em;
    }
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background: var(--footer-bottom);
    width: 30px;
    margin: 5px 32px 0 0;
    font-size: 1em;
    text-align: center;
    color: $LightGrey;
    z-index: 200;
    cursor: pointer;
}

.foot-toggle-menu {
    position: absolute;
    right: 0;
    bottom: 40px;
    width: 200px;
    font-size: .8em;
    background: $BGrey;
    transition: right 1s ease-in-out;

    ul { transition: right 1s ease-in-out; }

    li {
        padding: .5em;
        border-bottom: 1px solid $DimGrey;
        cursor: pointer;
    }

    li:last-child { border-bottom: 0; }
}

.nav-link { padding: 0; }

.dropDown {
    background: $DarkGrey;
    font-size: 1.4em;
    transform: translate(-80px,91px);

    a:hover { 
        background: $DarkGrey;
        cursor: pointer;
    }
}

.dropDown-foot-menu { 
    font-size: 1em; 
    li { border: none; }
}

@media screen and (min-width: 765px) {
    .foot-bottom-menu-list { display: flex; }

    .foot-toggle-menu { display: none; }

    .menu { display: none; }
}
