@import "../../variables.scss";

.unlist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.foot {
    background: $DarkGrey;
    min-height: 100px;
    color: $LightGrey;
    bottom: 0;
    padding: 1em 1.5em;
    display: flex;
    position: relative;
    width: 100%;
}

.foot-widget-left,
.foot-widget-midden,
.foot-widget-right {
    width: 33%;
    padding: 20px;

    h3 { color: $White; }
}

.social {
    display: flex;
    top: 0;
    
    li {
        padding: 10px 10px 10px 0;
    }
}

.links-style a {
    text-decoration: none;
    color: $LightGrey;
}

.links-style a:hover { color: $White; }

.blog-list {
    li {
        width: 100%;
        border-bottom: 1px solid $DimGrey;
        padding: 1em 0;
        font-size: .8em;
    }

    li:last-child {
        border: 0;
        margin-bottom: .5em;
    }
}

.foot-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    background: $BGrey;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.foot-bottom-text {
    padding: 0 1em;
    font-size: .8em;

    p { margin: 8px 0; }
}

.foot-bottom-menu-list {
    display: flex;
    margin: 8px 0;
    
    li {
        width: 100px;
        text-align: center;
        font-size: .8em;
    }
}