  <div class="foot">
    <div class="row">
      <div class="foot-widget-left col-sm-12 col-lg-6 col-md-6 col-xl-4 col-12">
        <div>
          <p>LOGO</p>
        </div>
        <div class="foot-info">
          <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem?</p>
          <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem?</p>
        </div>
        <div class="foot-social">
          <ul class="foot-social-list unlist social links-style">
            <li><a href="#" title=""><span class="fa fa-facebook"></span></a></li>
            <li><a href="#" title=""><span class="fa fa-twitter"></span></a></li>
            <li><a href="#" title=""><span class="fa fa-google-plus"></span></a></li>
            <li><a href="#" title=""><span class="fa fa-instagram"></span></a></li>
            <li><a href="#" title=""><span class="fa fa-linkedin"></span></a></li>
            <li><a href="#" title=""><span class="fa fa-youtube"></span></a></li>
            <li><a href="#" title=""><span class="fa fa-pinterest"></span></a></li>
            <li></li>
          </ul>
        </div>
      </div>

      <div class="foot-widget-midden col-sm-12 col-lg-6 col-md-6 col-xl-4 col-12">
        <h3>Latest News</h3>
        <div>
          <ul class="blog-list unlist links-style">
            <li><a href="#" title="">LINK</a></li>
            <li><a href="#" title="">LINK</a></li>
            <li><a href="#" title="">LINK</a></li>
            <li><a href="#" title="">LINK</a></li>
            <li><a href="#" title="">LINK</a></li>
          </ul>
        </div>
      </div>

    <div class="foot-widget-midden">
      <h3>Latest News</h3>
      <div>
        <ul class="blog-list unlist links-style">
          <li><a routerLink="/category" title="">LINK</a></li>
          <li><a href="#" title="">LINK</a></li>
          <li><a href="#" title="">LINK</a></li>
          <li><a href="#" title="">LINK</a></li>
          <li><a href="#" title="">LINK</a></li>
        </ul>
      <div class="foot-widget-right col-sm-12 col-lg-6 col-md-6 col-xl-4 col-12">
        <h3>Popular Tags</h3>
        <div>
          <p>links.....</p>
        </div>
      </div>
    </div>

    <div class="foot-toggle-menu" [hidden]="toggle1">
        <ul class="foot-toggle-menu-list unlist links-style">
          <li><a href="#" title="">HOME</a></li>
          <li><a href="#" title="">FEATURES</a></li>
          <li><a href="#" title="">BUY</a></li>
          <li><a href="#" title="">SHOP</a></li>
        </ul>
    </div>

    <div class="foot-bottom">
      <div class="foot-bottom-text">
        <p>Copyright © 2019 Onze project.</p>
      </div>

      <div class="hamburger" (click)="toggleEvent($event)">
          <a href="#menu" class="menu">
            <span class="fa fa-reorder"></span>
          </a>
      </div>

      <div class="foot-bottom-menu">
        <ul class="foot-bottom-menu-list unlist links-style">
          <li><a href="#" title="">HOME</a></li>
          <li><a href="#" title="">FEATURES</a></li>
          <li><a href="#" title="">BUY</a></li>
          <li><a href="#" title="">SHOP</a></li>
        </ul>
      </div>
    </div>
  </div>

