<!--The content below is only a placeholder and can be replaced.-->
<navbar></navbar>
<div class="containerCustom">
  <div class="row">
    <app-top-news class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></app-top-news>
    <app-latest-news class="col-xs-12 col-sm-12 col-md-3"></app-latest-news>
    <app-home-main-articles class="col-xs-12 col-sm-12 col-md-6"></app-home-main-articles>
    <app-right-sidebar class="col-xs-12 col-sm-12 col-md-3"></app-right-sidebar>
  </div>
</div>
<footer></footer>
<app-scroll-top></app-scroll-top>


<!-- <router-outlet></router-outlet> -->
