<div class="container">
  <h2>Create a new account!</h2>
  <div class="register-item">
    <form #myform="ngForm" (ngSubmit)="register(myform)" class="form form-register">

      <div class="form-group">
            <label class="user" for="register-firstName"><span class="hidden">First Name:</span></label>
            <input name="first_name" id="register-firstName" type="email" class="form-control" placeholder="First Name" ngModel required>
      </div>
      <div class="form-group">
        <label class="user" for="register-lastName"><span class="hidden">Last Name:</span></label>
        <input name="last_name" id="register-lastName" type="email" class="form-control" placeholder="Last Name" ngModel required>
      </div>
      <div class="form-group">
        <label class="user" for="register-email"><span class="hidden">Email:</span></label>
        <input name="email" id="register-email" type="email" class="form-control" placeholder="Email" ngModel required>
      </div>
      <div class="form-group">
        <label class="user" for="register-streetName"><span class="hidden">Street Name:</span></label>
        <input name="street_name" id="register-streetName" type="email" class="form-control" placeholder="Street Name" ngModel required>
      </div>
      <div class="form-group">
        <label class="user" for="register-houseNumber"><span class="hidden">House Number:</span></label>
        <input name="house_number" id="register-houseNumber" type="email" class="form-control" placeholder="House Number" ngModel required>
      </div>
      <div class="form-group">
        <label class="user" for="register-mailBoxNumber"><span class="hidden">Mailbox Number:</span></label>
        <input name="mailbox_number" id="register-mailBoxNumber" type="email" class="form-control" placeholder="Mailbox Number" ngModel required>
      </div>
      <div class="form-group">
        <label class="user" for="register-city"><span class="hidden">City:</span></label>
        <input name="city" id="register-city" type="email" class="form-control" placeholder="City" ngModel required>
      </div>
      <div class="form-group">
        <label class="user" for="register-postalCode"><span class="hidden">Postal Code:</span></label>
        <input name="postal_code" id="register-postalCode" type="email" class="form-control" placeholder="Postal Code" ngModel required>
      </div>
      <div class="form-group">
        <label class="user" for="register-telephone"><span class="hidden">Telephone:</span></label>
        <input name="telephone" id="register-telephone" type="email" class="form-control" placeholder="Telephone" ngModel required>
      </div>

      <div class="form-group">
        <label class="lock" for="register-password"><span class="hidden">Password</span></label>
        <input name="password" id="register-password" type="password" class="form-control" placeholder="Password" ngModel required>
      </div>

      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>
</div>