<div class="main-small-widget-title">
  <h3>
    Featured News
  </h3>
</div>
<div class="feature-article-widget">
  <!-- <div class="feature-small-widget-wrap">
    <div class="feature-small-widget-article">
      <a href="#">
        <div class="main-feature-small-img">
          <img src="../../assets/images/example5.jpg" alt="noImage">
          <div class="feNews-info">
            <div class="info-views">
              <i class="fa fa-eye"></i>
              <span class="info-view-text">233.3K</span>
            </div>
            <div class="info-comm">
              <i class="fa fa-comment"></i>
              <span class="info-comm-text">23</span>
            </div>
          </div>
        </div>
        <div class="main-feature-small-text">
          <span id="main-text-category">World</span>
          <h2>North Korea Urgently Needs Food Aid After Worst Harvest in Decade, U.N. Says</h2>
        </div>
      </a>
    </div>
    <div class="feature-small-widget-article">
      <a href="#">
        <div class="main-feature-small-img">
          <img src="../../assets/images/example6.jpg" alt="noImage">
          <div class="feNews-info">
            <div class="info-views">
              <i class="fa fa-eye"></i>
              <span class="info-view-text">233.3K</span>
            </div>
            <div class="info-comm">
              <i class="fa fa-comment"></i>
              <span class="info-comm-text">23</span>
            </div>
          </div>
        </div>
        <div class="main-feature-small-text">
          <span id="main-text-category">Tech</span>
          <h2>Huawei Has Blown Past the iPhone, and Samsung Is Next</h2>
        </div>
      </a>
    </div>
    <div class="feature-small-widget-article">
      <a href="#">
        <div class="main-feature-small-img">
          <img src="../../assets/images/example7.jpg" alt="noImage">
          <div class="feNews-info">
            <div class="info-views">
              <i class="fa fa-eye"></i>
              <span class="info-view-text">233.3K</span>
            </div>
            <div class="info-comm">
              <i class="fa fa-comment"></i>
              <span class="info-comm-text">23</span>
            </div>
          </div>
        </div>
        <div class="main-feature-small-text">
          <span id="main-text-category">Tech</span>
          <h2>Google Fi Now Supports Visual Voicemail on iPhone</h2>
        </div>
      </a>
    </div>
  </div> -->
  <div class="feature-big-widget-wrap">

    <div class="feature-big-widget-article" *ngFor="let article of allArticles">
      <a href="{{article.url}}">
          <div class="main-feature-big-img">
              <img src="{{article.urlToImage}}" alt="noImage">
              <div class="feNews-info">
                <div class="info-views">
                  <i class="fa fa-eye"></i>
                  <span class="info-view-text">233.3K</span>
                </div>
                <div class="info-comm">
                  <i class="fa fa-comment"></i>
                  <span class="info-comm-text">23</span>
                </div>
              </div><!-- end poNews-info -->
            </div><!-- end side-wdiget -->
            <div class="main-feature-big-text">
              <span id="main-text-category">{{article.source.name}}</span>
              <h2>{{article.title}}</h2>
              <p>{{article.description}}</p>
            </div><!-- end side-widget-text -->
      </a>
    </div>
  </div>
</div>
