<div class="main-small-widget-title">
  <h3>
    Featured News
  </h3>
</div>
<div class="feature-article-widget">
  <div class="feature-small-widget-wrap">
    <div class="feature-small-widget-article" *ngFor="let article of allArticles | slice:0:3;">
      <a href="{{article.url}}" target="_blank">
        <div class="main-feature-small-img">
          <img src="{{article.urlToImage}}" default="/assets/images/placeholder_4.png" class="img">
        </div>
        <div class="main-feature-small-text">
          <span id="main-text-category">{{article.source.name}}</span>
          <h2>{{article.title}}</h2>
        </div><!-- end side-widget-text -->
      </a>
    </div>
  </div>
  <div class="feature-big-widget-wrap">
    <div class="feature-big-widget-article" *ngFor="let article of allArticles | slice:3;">
      <a href="{{article.url}}" target="_blank">
          <div class="main-feature-big-img">
              <img src="{{article.urlToImage}}" default="/assets/images/placeholder_4.png" class="img">
            </div><!-- end side-wdiget -->
            <div class="main-feature-big-text">
              <span id="main-text-category">{{article.source.name}}</span>
              <h2>{{article.title}}</h2>
              <p>{{article.description}}</p>
            </div><!-- end side-widget-text -->
      </a>
    </div>
  </div>
</div>
