<div class="search-widget-title">
  <h3>
    {{totalResult}} result for '{{searchText}}':
  </h3>
</div>

<div class="wrap row">
<div class="search-wrap col-lg-10 col-md-12 col-sm-12 col-xs-12">
  <div class="search-widget-article" *ngFor="let article of allArticles | paginate: {itemsPerPage: 10, currentPage: p, totalItems: totalResult }">
    <a href="{{article.url}}" target="_blank">
      <div class="search-widget-img">
        <img src="{{article.urlToImage}}" default="/assets/images/placeholder_4.png" class="img">
      </div>
      <div class="search-widget-text">
        <h2>{{article.title}}</h2>
        <p>{{article.description}}</p>
      </div>
    </a>
  </div>
  <pagination-controls class="my-pagination" (pageChange)="getArticles($event)" autoHide="true"></pagination-controls>
</div>
</div>