/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';
// @import '~weather-icons/css/weather-icons.min.css';
@import 'assets/css/weather-icons.css';
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700");
@import url('https://fonts.googleapis.com/css?family=Almendra+SC&display=swap');
@import "variables.scss";
@import '~ngx-ui-switch/ui-switch.component.scss';

* {
    box-sizing: border-box;
  }

html {
    background: var(--primary-color);
}

body {
    overflow-x: hidden;
    background: var(--primary-color);
    color: var(--text-color);
    margin: 0;
    font-family: 'Roboto Slab', Helvetica, sans-serif;
    transition: .5s ease-in-out;
    padding-right: 0 !important 
}

.containerCustom {
    width: 90%; 
    margin: 0 auto;
}


.readLater {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    z-index: 2;
    justify-content: flex-end;

    .btnReadLater {
      margin: 1em;
    }
  }

@media screen and (max-width: 480px) {
   // body { width: auto; }
   .containerCustom { width: 100%; }  
}