
:root {
    --primary-color: $BodyGrey; // white
    --background-color: $BodyGrey; // light grey
    --text-color: $Black; // dark grey
    --footer-main: $DarkGrey;
    --footer-bottom: $BGrey;
  }


$Black: #000000;
$White: #ffffff;
$Grey:#999;
$DarkGrey: #444444;
$LightGrey: #8D8D8D;
$DimGrey: #555555;
$BGrey: #333333;
$BodyGrey: #EEEEEE;
$LighterGrey: #DDDDDD;

/*TEAL THEME*/
$Teal: #009688;
$Teal_Light: #4DB6AC;
$Teal_Lighter: #80CBC4;
$Teal_Lightest: #B2DFDB;
$Teal_Dark: #00796B;
$Teal_Darker: #00695C;
$teal_Darkest: #004D40;

/*INDIGO THEME*/
$Indigo: #3F51B5;
$Indigo_Light: #5C6BC0;
$Indigo_Lighter: #7986CB;
$Indigo_Lightest: #C5CAE9;
$Indigo_Dark: #303F9F;
$Indigo_Darker: #283593;
$Indigo_Darkest: #1A237E;

/*BLUE GREY THEME*/
$B-Grey: #607D8B;
$BGrey_Light: #78909C;
$BGrey_Lighter: #B0BEC5;
$BGrey_Lightest: #CFD8DC;
$BGrey_Dark: #455A64;
$BGrey_Darker: #37474F;
$BGrey_Darkest: #263238;

/*BLUE THEME*/
$Blue: #2196F3;
$Blue_Light: #64B5F6;
$Blue_Lighter: #90CAF9;
$Blue_Lightest: #BBDEFB;
$Blue_Dark: #1976D2;
$Blue_Darker: #1565C0;
$Blue_Darkest: #0D47A1;