  <div id="tNews-top-wrap" class="row">
    <div id="tNews-main" class="col-sm-12 col-lg-6 col-md-6 col-xl-3 col-12"
      *ngFor="let article of allArticles | slice:0:4; let i=index">
      <div class="readLater">
          <div class="btnReadLater">
            <button class="btn btn-outline-light" id="dropdownBasic1" (click)="saveReadLaterArticle(article)">
                Read Later...
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
      <a href="{{article.url}}" target="_blank">
        <div class="tNews-main-img">
          <img src="{{article.urlToImage}}" default="/assets/images/placeholder_4.png" class="img">
        </div>
        <div id="main-text-bg"></div>
        <div class="tNews-main-text">
          <span id="main-text-category">{{article.source.name}}</span>
          <h2>{{article.title}}</h2>
        </div>
      </a>
    </div>
  </div>
