<div class="login_card">
  <div class="logoCont">
    <div class="logo_container">
      <i class="fa fa-sign-in"></i>
    </div>
  </div>
    <div class="form_container">
      <!-- Login form -->
      <form #myform="ngForm" (ngSubmit)="login(myform)" class="form form-login">
        <div class="input-group">
          <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-user"></i></div>
          </div>
          <input name="username" id="login-email" type="email" class="form-control" placeholder="Email" required ngModel>
        </div>
  
        <div class="input-group">
          <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-key"></i></div>
          </div>
          <input name="password" id="login-password" type="password" class="form-control" placeholder="Password" required ngModel>
        </div>
  
        <div class="col-12 text-center">
            <button type="submit" class="btn btn-dark">Login</button>
        </div>
      </form>
    </div>
  </div>