<div class="side-title">
  <h3>
    Most Popular
  </h3>
</div>
<div class="right-sidebar">
  <div class="side-content">
    <div class="side-widget" *ngFor="let article of allArticles | slice:0:10;">
      <div class="btnReadLater" *ngIf="authService.loggedIn()">
        <button class="btn btn-outline-light" id="dropdownBasic1" (click)="saveReadLaterArticle(article)">
            Read Later...
          <i class="fa fa-plus"></i>
        </button>
      </div>
      <a href="{{article.url}}" target="_blank" (click)="!authService.loggedIn() || saveHistoryArticle(article)">
        <div class="side-widget-img">
          <img src="{{article.urlToImage}}" default="/assets/images/placeholder_4.png" class="img">
        </div><!-- end side-wdiget -->
        <div class="side-widget-text">
          <span id="main-text-category">{{article.source.name}}</span>
          <h2>{{article.title}}</h2>
        </div><!-- end side-widget-text -->
      </a>
    </div><!-- end first-article -->
  </div>
</div>
