<div class="right-sidebar">
  <div class="side-title">
    <h3>
      Most Popular
    </h3>
  </div>
  <div class="side-content">
    <div class="side-widget">
      <a href="#">
        <div class="side-widget-img">
          <img src="../../assets/images/example5.jpg" alt="noImage">
          <div class="poNews-info">
            <div class="info-views">
              <i class="fa fa-eye"></i>
              <span class="info-view-text">233.3K</span>
            </div>
            <div class="info-comm">
              <i class="fa fa-comment"></i>
              <span class="info-comm-text">23</span>
            </div>
          </div><!-- end poNews-info -->
        </div><!-- end side-wdiget -->
        <div class="side-widget-text">
          <span id="main-text-category">World</span>
          <h2>North Korea Urgently Needs Food Aid After Worst Harvest in Decade, U.N. Says</h2>
        </div><!-- end side-widget-text -->
      </a>
    </div><!-- end first-article -->
    <div class="side-widget">
      <a href="#">
        <div class="side-widget-img">
          <img src="../../assets/images/example6.jpg" alt="noImage">
          <div class="poNews-info">
            <div class="info-views">
              <i class="fa fa-eye"></i>
              <span class="info-view-text">233.3K</span>
            </div>
            <div class="info-comm">
              <i class="fa fa-comment"></i>
              <span class="info-comm-text">23</span>
            </div>
          </div><!-- end poNews-info -->
        </div><!-- end side-wdiget -->
        <div class="side-widget-text">
          <span id="main-text-category">Tech</span>
          <h2>Huawei Has Blown Past the iPhone, and Samsung Is Next</h2>
        </div><!-- end side-widget-text -->
      </a>
    </div><!-- end second-article -->
    <div class="side-widget">
      <a href="#">
        <div class="side-widget-img">
          <img src="../../assets/images/example7.jpg" alt="noImage">
          <div class="poNews-info">
            <div class="info-views">
              <i class="fa fa-eye"></i>
              <span class="info-view-text">233.3K</span>
            </div>
            <div class="info-comm">
              <i class="fa fa-comment"></i>
              <span class="info-comm-text">23</span>
            </div>
          </div><!-- end poNews-info -->
        </div><!-- end side-wdiget -->
        <div class="side-widget-text">
          <span id="main-text-category">Tech</span>
          <h2>Google Fi Now Supports Visual Voicemail on iPhone</h2>
        </div><!-- end side-widget-text -->
      </a>
    </div><!-- end third-article -->
    <div class="side-widget">
      <a href="#">
        <div class="side-widget-img">
          <img src="../../assets/images/example8.jpg" alt="noImage">
          <div class="poNews-info">
            <div class="info-views">
              <i class="fa fa-eye"></i>
              <span class="info-view-text">233.3K</span>
            </div>
            <div class="info-comm">
              <i class="fa fa-comment"></i>
              <span class="info-comm-text">23</span>
            </div>
          </div><!-- end poNews-info -->
        </div><!-- end side-wdiget -->
        <div class="side-widget-text">
          <span id="main-text-category">Entertainment</span>
          <h2>'Avengers: Endgame' worldwide collection nearing $2 billion and going strong, will it surpass
            'Avatar'?</h2>
        </div><!-- end side-widget-text -->
      </a>
    </div><!-- end fourth-article -->
    <div class="side-widget">
      <a href="#">
        <div class="side-widget-img">
          <img src="../../assets/images/example9.jpg" alt="noImage">
          <div class="poNews-info">
            <div class="info-views">
              <i class="fa fa-eye"></i>
              <span class="info-view-text">233.3K</span>
            </div>
            <div class="info-comm">
              <i class="fa fa-comment"></i>
              <span class="info-comm-text">23</span>
            </div>
          </div><!-- end poNews-info -->
        </div><!-- end side-wdiget -->
        <div class="side-widget-text">
          <span id="main-text-category">World</span>
          <h2>European, US investigators make major darknet bust</h2>
        </div><!-- end side-widget-text -->
      </a>
    </div><!-- end fifth-article -->
    <div class="side-widget">
      <a href="#">
        <div class="side-widget-img">
          <img src="../../assets/images/example10.jpg" alt="noImage">
          <div class="poNews-info">
            <div class="info-views">
              <i class="fa fa-eye"></i>
              <span class="info-view-text">233.3K</span>
            </div>
            <div class="info-comm">
              <i class="fa fa-comment"></i>
              <span class="info-comm-text">23</span>
            </div>
          </div><!-- end poNews-info -->
        </div><!-- end side-wdiget -->
        <div class="side-widget-text">
          <span id="main-text-category">Tech</span>
          <h2>In some countries, many use the internet without realizing it</h2>
        </div><!-- end side-widget-text -->
      </a>
    </div><!-- end sixth-article -->
    <div class="side-widget">
      <a href="#">
        <div class="side-widget-img">
          <img src="../../assets/images/example11.jpg" alt="noImage">
          <div class="poNews-info">
            <div class="info-views">
              <i class="fa fa-eye"></i>
              <span class="info-view-text">233.3K</span>
            </div>
            <div class="info-comm">
              <i class="fa fa-comment"></i>
              <span class="info-comm-text">23</span>
            </div>
          </div><!-- end poNews-info -->
        </div><!-- end side-wdiget -->
        <div class="side-widget-text">
          <span id="main-text-category">Science</span>
          <h2>Fight against plastic pollution targets a hidden source: Our clothes</h2>
        </div><!-- end side-widget-text -->
      </a>
    </div><!-- end seventh-article -->
    <div class="side-widget">
      <a href="#">
        <div class="side-widget-img">
          <img src="../../assets/images/example12.jpg" alt="noImage">
          <div class="poNews-info">
            <div class="info-views">
              <i class="fa fa-eye"></i>
              <span class="info-view-text">233.3K</span>
            </div>
            <div class="info-comm">
              <i class="fa fa-comment"></i>
              <span class="info-comm-text">23</span>
            </div>
          </div><!-- end poNews-info -->
        </div><!-- end side-wdiget -->
        <div class="side-widget-text">
          <span id="main-text-category">Science</span>
          <h2>'Hacking Darwin' Explores Genetic Engineering — And What It Means To Be Human</h2>
        </div><!-- end side-widget-text -->
      </a>
    </div><!-- end eightht-article -->
  </div>
</div>
