<!-- Latest news component -->
<div class="latest-news-title">
  <h3>Latest news</h3>
</div>
<div class="latest-news-wrap">
  <div class="latest-news-widgets"*ngFor="let article of allArticles">
      <div class="btnReadLater" *ngIf="authService.loggedIn()">
          <button class="btn btn-outline-secondary btn-sm" id="dropdownBasic1" (click)="saveReadLaterArticle(article)">
            <i class="fa fa-plus"></i>
          </button>
        </div>
    <a href="{{article.url}}" target="_blank" (click)="!authService.loggedIn() || saveHistoryArticle(article)" title="Source: {{article.source.name}}">
      <div class="lNews-image">
        <img src="{{article.urlToImage}}" default="assets/images/placeholder_4.png" class="img">
      </div>
      <div class="lNews-text">
        <span  id="main-text-category">{{article.source.name}}</span>
        <p>{{article.title}}</p>
        
        
      </div>
    </a>
  </div>
</div>

