@import "../../variables.scss";

:host {

  .latest-news-title {
    h3 {
      font-size: 1.68rem;
    }
  }
    .latest-news-wrap {
      background: var(--background-color);
      color: var(--text-color);
      transition: .5s ease-in-out;

      .latest-news-widgets {
        border-bottom: 1px solid $LightGrey;
        padding: 0 5px;

        a {
          display: flex;
          flex-direction: row;
          margin: .3em 0;
          padding: 5px;
          font-size: .7em;
    
          .lNews-image {
            width: 40%;
            height: 10vh;
            margin: auto 0;
            margin-right: .2em;
            overflow: hidden;
    
            img {
              height: 100%;
              object-fit: cover;
              transition: transform 1s ease;
            }
          }
    
          .lNews-text {
            width: 60%;
            background: var(--background-color);
            color: var(--text-color);
    
            #main-text-category {
              color: $LightGrey;
              display: block;
              margin: 0;
              padding: .5em;
              text-transform: uppercase;
            }

            p { 
              padding-left: .5em; }
          }
        }
        &:hover {
          .lNews-image  {
            img {
              transform: scale(1.1);
            }
          }
        }
      }
    }
}
