<div>
  <nav id="mainnav">
    <ul class="container unlist wrap">
        <li><a href="#" title="">HOME</a></li>
        <li><a href="#" title="">FEATURES</a></li>
        <li><a href="#" title="">BUY</a></li>
        <li><a href="#" title="">SPORTS</a></li>
        <li><a href="#" title="">SHOP</a></li>
    </ul>

    <ul class="container unlist social">
      <li><a href="#" title=""><span class="fa fa-facebook"></span></a></li>
      <li><a href="#" title=""><span class="fa fa-twitter"></span></a></li>
      <li><a href="#" title=""><span class="fa fa-google-plus"></span></a></li>
  </ul>
  </nav>
  <div>
    
  </div>
</div>
