
  <nav class="mainnav">
    <!-- <div class="brand">
        <a class="navbar-brand" href="#">
            <img src="/assets/images/TNS LOGO_BLACK.png" class="d-inline-block align-top" alt="">
            The News Spot
          </a>
    </div> -->
    <!-- <div> -->
    <div>
      <div class="hamburger" (click)="toggleEvent($event)">
        <a class="menu">
          <span class="fa fa-reorder"></span>
        </a>
      </div>
      <div class="sidenav" [hidden]="toggle">
        <div>
            <ul class="social-wrap unlist">
              <li class="facebook"><a routerLink="#" title=""><span class="fa fa-facebook"></span></a></li>
              <li class="twitter"><a routerLink="#" title=""><span class="fa fa-twitter"></span></a></li>
              <li class="google"><a routerLink="#" title=""><span class="fa fa-google-plus"></span></a></li>
              <li class="instagram"><a routerLink="#" title=""><span class="fa fa-instagram"></span></a></li>
              <li class="linkedin"><a routerLink="#" title=""><span class="fa fa-linkedin"></span></a></li>
              <li class="youtube"><a routerLink="#" title=""><span class="fa fa-youtube"></span></a></li>
              <li class="pinterest"><a routerLink="#" title=""><span class="fa fa-pinterest"></span></a></li>
              </ul>
        </div>
        <div>
          <ul class="menu-wrap unlist">
            <li><a routerLink="/home" title="">HOME</a></li>
            <li><a routerLink="/category" title="">category</a></li>
            <li><a routerLink="#" title="">BUY</a></li>
            <li><a [routerLink]="['/category', sports]" title="">SPORTS</a></li>
            <li><a routerLink="#" title="">SHOP</a></li>
        </ul>
        </div>
      </div>
    </div>
    <!-- </div> -->
    <div class="mainmenu">
      <ul class="unlist wrap">
          <li><a routerLink="/home" title="">HOME</a></li>
          <li><a routerLink="/category" title="">Category</a></li>
          <li><a [routerLink]="['/category', 'entertainment']" title="">Entertainment</a></li>
          <li><a [routerLink]="['/category', 'sports']" title="">SPORTS</a></li>
          <li><a href="#" title="">SHOP</a></li>
          <li><a routerLink="/auth/login" title="" *ngIf="!authService.loggedIn()">Sign in</a></li>
          <li><a routerLink="/auth/register" title="" *ngIf="!authService.loggedIn()">Register</a></li>
          <li><a title="" *ngIf="authService.loggedIn()" (click)="authService.logoutUser()">Logout</a></li>
      </ul>
    </div>
    <div>
        <ui-switch size="small" color="#FFCC00" [formControl]="darkTheme" class="darkmode"></ui-switch>
    </div>
    <div class="handle">Menu</div>
  </nav>

<div class="icon-bar" [hidden]="!toggle">
    <a routerLink="#" class="facebook"><i class="fa fa-facebook"></i></a> 
    <a routerLink="#" class="twitter"><i class="fa fa-twitter"></i></a> 
    <a routerLink="#" class="google"><i class="fa fa-google"></i></a> 
    <a routerLink="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
    <a routerLink="#" class="youtube"><i class="fa fa-youtube"></i></a> 
</div>
