/* SCSS NAVBAR */
@import "../../variables.scss";


/* Unlist */
.unlist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
}

/* Navigatie */

.darkmode { 
    top: 0;
    right: 0;
    padding: 1em; 
}

.mainnav { 
    position: relative;
    border-bottom: 1px solid $LighterGrey;

    .dropdown-menu {
        padding: 0;
        background: $DarkGrey;
        color: $White;

        a:hover { 
            background: $DarkGrey;
            cursor: pointer;
        }
    }
}

.hamburger { 
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: $Black;
    width: 60px;
    margin-top: 5px;
    font-size: 2rem;
    text-align: center;
    color: $White;
    cursor: pointer;
    z-index: 200;
}

.logo {
    position: absolute;
    z-index: 5;

    h1 {
        font-family: 'Almendra SC', serif;
        margin-left: 80px;
        padding-top: 5px;

        a { color: yellow; }
    }
}

.sidenav {
    z-index: 800;
    
    ul {
        position: absolute;
        z-index: 5;
        margin-top: 60px;
        position: fixed;
        height: 100vh;
        transition: right .5s ease-in-out;

        li { border-bottom: 1px solid $DimGrey; }
        li:last-child { border-bottom: 0; }
    }

    a { 
        display: block; 
        cursor: pointer;
    }
}

.nav-link { padding: 0; }

.menu-wrap { 
    margin-left: 50px; 
    background: $DarkGrey;
    width: 300px;

    li { 
        padding: 1em 0 1em; 
        margin-left: 15px;
    }

    a { color: $White; }
    a:hover { color: $Grey; }
}

ui-switch {
    position: fixed;
    z-index: 500;

    .checked[_ngcontent-hic-c8] { background: #FFCC00; }
}

.social-wrap {
    background: $DimGrey;
    width: 50px;

    a { 
        width: 100%;
        color: $Grey;
        padding: .5em;
        text-align: center;
        font-size: 1.3em;
    }
    a:hover { color: $White; }
}

.facebook:hover { background: #3B5998; }
.twitter:hover { background: #55ACEE; }
.google:hover { background: #DD4B39; }
.instagram:hover { background: #3F729B; }
.linkedin:hover { background: #007BB5; }
.youtube:hover { background: #BB0000; }
.pinterest:hover { background: #C8232C; }

a { text-decoration: none; }

.wrap {
    position: relative;
    background: $Black;
    height: 60px;
    display: flex;
    padding-left: 150px;

    li { 
        text-align: center;

        a {
            display: block;
            padding: 1em 2em;
            color: $White;
            background: $Black;
            transition: .25s all ease-in-out;
        }
    }
}

.wrap:hover > li a { 
    color: $Grey; 
}
.wrap:hover > li a:hover { 
    color: $White; 
}

.search-logo {
    position: absolute;
    color: $White;
    top: 0;
    right: 0;
    margin-right: 90px;
    padding: 8px 0;
    height: 100%;
    font-size: 1.5em;
    cursor: pointer;
    z-index: 500;
}

.search-frm {
    display: block;
    text-align: center;
}

.btn { 
    padding: 0 10px; 
    color: var(--text-color);
    border: 1px solid var(--text-color);
}

.search-inp {
    border: none;
    border-bottom: 1px solid var(--text-color);
    background: var(--background-color);
    color: var(--text-color);
    padding-left: 10px;
    margin: 5px 5px 0 0;
    transition: .5s all ease-in-out;
}

.handle {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    font-family: 'Almendra SC', serif;
    color: $White;
    font-size: 1.6em;
    text-align: center;
    padding-top: 8px;
    z-index: -100;

    a { color: yellow; }
}

.icon-bar {
    position: fixed;
    background: $Black;
    top: calc(50% - 150px);
    right: 0;
    z-index: 800;
    // -webkit-transform: translateY(-50%);
    // -ms-transform: translateY(-50%);
    // transform: translateY(-50%);
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }

@media screen and (max-width: 1015px) {
    .hamburger { display: block; }
    .logo { display: none; }

    .wrap {
        li { display: none; } 
    }

    .menu { margin-top: 0; }

    .handle { z-index: 100; }
    .sidenav ul { margin-top: 60px; }
    //.icon-bar { display: none; }
    .search-btn { margin-right: 80px; }
    .search-logo { margin-right: 70px; }
}

@media screen and (max-width: 768px) {
    .mainnav {
        position: fixed;
        z-index: 500;
        width: 100%;
        top: 0;
    }
    .icon-bar {
        width: 30px;

        a { padding: 10px 0; }
    }
}
