<div>
  <nav id="mainnav">
    <!-- <div> -->
      <div class="hamburger" (click)="toggleEvent($event)" >
        <a routerLink="#menu" class="menu">
          <span class="fa fa-reorder"></span>
        </a>
      </div>
      <div class="sidenav" [hidden]="toggle">
        <div>
            <ul class="social-wrap unlist">
              <li><a routerLink="#" title=""><span class="fa fa-facebook"></span></a></li>
              <li><a routerLink="#" title=""><span class="fa fa-twitter"></span></a></li>
              <li><a routerLink="#" title=""><span class="fa fa-google-plus"></span></a></li>
              <li><a routerLink="#" title=""><span class="fa fa-instagram"></span></a></li>
              <li><a routerLink="#" title=""><span class="fa fa-linkedin"></span></a></li>
              <li><a routerLink="#" title=""><span class="fa fa-youtube"></span></a></li>
              <li><a routerLink="#" title=""><span class="fa fa-pinterest"></span></a></li>
              </ul>
        </div>
        <div>
          <ul class="menu-wrap unlist">
            <li><a routerLink="#" title="">HOME</a></li>
            <li><a routerLink="/category" title="">category</a></li>
            <li><a routerLink="#" title="">BUY</a></li>
            <li><a routerLink="#" title="">SPORTS</a></li>
            <li><a routerLink="#" title="">SHOP</a></li>
        </ul>
        </div>
      </div>
    <!-- </div> -->
    <ul class="unlist wrap">
        <li><a routerLink="#" title="">HOME</a></li>
        <li><a routerLink="#" title="">FEATURES</a></li>
        <li><a routerLink="#" title="">BUY</a></li>
        <li><a routerLink="#" title="">SPORTS</a></li>
        <li><a routerLink="#" title="">SHOP</a></li>
    </ul>

    <ul class="unlist social">
      <li><a routerLink="#" title=""><span class="fa fa-facebook"></span></a></li>
      <li><a routerLink="#" title=""><span class="fa fa-twitter"></span></a></li>
      <li><a routerLink="#" title=""><span class="fa fa-google-plus"></span></a></li>
  </ul>
  </nav>
  <div>
    
  </div>
</div>
